header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 0rem 2rem;

  width: 100vw;
  height: 4rem;
  background-color: var(--cor-primaria);
}

h1{
  font-size: 2rem;
}

#log_option{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}